<configuration>
  <system.runtime.remoting>
    <application>
     
      <client>
        <wellknown type="Server.DefaultLifeTimeSingleton, server"  
                   url="http://localhost:5555/DefaultLifeTimeSingleton.rem" />

        <wellknown type="Server.LongerLivingSingleton, server"  
                   url="http://localhost:5555/LongerLivingSingleton.rem" />

        <wellknown type="Server.InfinitelyLivingSingleton, server"  
                   url="http://localhost:5555/InfinitelyLivingSingleton.rem" />

      </client>

    </application>
  </system.runtime.remoting>
</configuration>
