<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="http" />
			</channels>
			<client>
				<wellknown	type="General.IRemoteSecond, General"
									url="http://localhost/ClientWebRemoting/SecondServer.soap" />
			</client>
		</application>
	</system.runtime.remoting>
</configuration>
