<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
				<channel ref="http">
					<clientProviders>
						<formatter ref="binary" />
					</clientProviders>
				</channel>
      </channels> 
      <client>
        <wellknown type="Shared.IRemoteFactory, Shared"  
                   url="http://localhost:5555/RemoteFactory.rem" />
        <wellknown type="Shared.IRemoteSponsorFactory, Shared"  
                   url="http://localhost:5555/SponsorFactory.rem" />
      </client>
    </application>
  </system.runtime.remoting>
</configuration>
