<configuration>
  <system.runtime.remoting>
    <application>

      <channels>
				<channel ref="http" port="5555">
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full" />
					</serverProviders>
					<clientProviders>
						<formatter ref="binary" />
					</clientProviders>
				</channel>
      </channels>

      <lifetime leaseTime="10MS" renewOnCallTime="10MS" leaseManagerPollTime = "5MS" />

      <service>
        <wellknown mode="Singleton" 
                   type="Server.RemoteFactory, Server" 
                   objectUri ="RemoteFactory.rem"/>
      </service>
      
    </application>
  </system.runtime.remoting>
  
  <appSettings>
     <add key="Server.RemoteObject_Lifetime" value="2000" />
  </appSettings>

</configuration>
