<configuration>
  <system.runtime.remoting>
    <application>

      <channels>
        <channel ref="http" port="5555" />
      </channels>


      <lifetime leaseTime="10MS" renewOnCallTime="10MS" leaseManagerPollTime = "5MS" />

      <service>

        <wellknown mode="Singleton" 
                   type="Server.DefaultLifeTimeSingleton, Server" 
                   objectUri="DefaultLifeTimeSingleton.rem" />

        <wellknown mode="Singleton" 
                   type="Server.LongerLivingSingleton, Server" 
                   objectUri="LongerLivingSingleton.rem" />

        <wellknown mode="Singleton" 
                   type="Server.InfinitelyLivingSingleton, Server" 
                   objectUri="InfinitelyLivingSingleton.rem" />

      </service>
    </application>
  </system.runtime.remoting>
</configuration>
