<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.runtime.remoting>
		<customErrors mode="on" />
    <application>
      <service>
        <wellknown mode="Singleton" 
                   type="Server.CrossVersionTest, Server" 
                   objectUri="CrossVersionTest.rem" />
      </service>
    </application>
    <debug loadTypes="true" />
  </system.runtime.remoting>
      
  <system.web>
    <compilation defaultLanguage="c#" debug="true" />
    <customErrors mode="On" />
    <authentication mode="Windows" /> 
    <authorization>
        <allow users="*" /> 
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false"  timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
 </system.web>

</configuration>
