<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" port="1234" />
      </channels>
      <service>
        <wellknown mode="Singleton" type="Server.CustomerManager, WindowsService" objectUri="CustomerManager.rem" />
      </service>
    </application>
  </system.runtime.remoting>
</configuration>