<configuration>
  <system.runtime.remoting>
    <application>

      <channels>
				<channel ref="http" port="5555">
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full" />
					</serverProviders>
				</channel>
      </channels>

      <lifetime leaseTime="10MS" renewOnCallTime="10MS" leaseManagerPollTime = "5MS" />

      <service>
        <wellknown mode="Singleton" 
                   type="Server.RemoteFactory, Server" 
                   objectUri ="RemoteFactory.rem"/>
        <wellknown mode="Singleton" 
                   type="Sponsors.SponsorFactory, Server" 
                   objectUri ="SponsorFactory.rem"/>
      </service>
      
    </application>
  </system.runtime.remoting>
  
  <appSettings>
    <add key="Server.RemoteObject_Lifetime" value="4000" />
    <add key="Sponsors.InstanceSponsor_Lifetime" value="5000" />
    <add key="Sponsors.InstanceSponsor_RenewOnCallTime" value="5000" />
  </appSettings>

</configuration>
