<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="tcp" port="1234">
					<serverProviders>
						<provider type="Microsoft.Samples.Runtime.Remoting.Security.SecurityServerChannelSinkProvider, Microsoft.Samples.Runtime.Remoting.Security" 
									securityPackage="negotiate" 
									authenticationLevel="packetPrivacy" />
						<formatter ref="binary" />
					</serverProviders>
				</channel>
			</channels>
			<service>
				<wellknown	type="Server.PersonManager, Server"
									objectUri="MyPersonManager.rem"
									mode="Singleton" />
			</service>
		</application>
	</system.runtime.remoting>
</configuration>
