<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown mode="Singleton" type="Server.CustomerManager, Server2" objectUri="CustomerManager.rem" />
			</service>
		</application>
	</system.runtime.remoting>
	<system.web>
		<compilation defaultLanguage="c#" debug="true" />
		<customErrors mode="RemoteOnly" />
		<authentication mode="Windows" />
		<authorization>
			<allow users="*" /> <!-- Allow all users -->
		</authorization>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
			cookieless="false" timeout="20" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
</configuration>
