<configuration>
  <system.runtime.remoting>
    <application>
			<channels>
				<channel ref="http" useDefaultCredentials="true" />
			</channels>

      <client>
				<!-- This entry only works with the RemotingHelper class -->
				
        <wellknown type="General.ICrossVersionTest, General"  
                   url="http://localhost:8080/Remoting1_V_1_0/CrossVersionTest.rem" />

				<!--
        <wellknown type="General.ICrossVersionTest, General"  
                   url="http://rammersrv02/Remoting1_V_1_0/CrossVersionTest.rem" />

        <wellknown type="General.ICrossVersionTest, General"  
                   url="http://localhost/MyServer2/CrossVersionTest.rem" />
         -->
      </client>

    </application>
  </system.runtime.remoting>
</configuration>