<configuration>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="http"  useDefaultCredentials="true">
<!--				
				<channel ref="http" >
-->
					<clientProviders>
						<formatter ref="binary" />
						<!--
						<provider type="HttpErrorInterceptor.InterceptorSinkProvider, HttpErrorInterceptor" />
						-->
					</clientProviders>
				</channel>
			</channels>
			<client>
				<wellknown type="General.IRemoteCustomerManager, General" url="http://localhost:8080/MyServer3/CustomerManager.rem" />
			</client>
		</application>
	</system.runtime.remoting>
</configuration>