<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" port="1234">
					<serverProviders>        
						<provider 
							type="Microsoft.Samples.Runtime.Remoting.Security.SecurityServerChannelSinkProvider, Microsoft.Samples.Runtime.Remoting.Security, Culture=neutral, PublicKeyToken=9f0928b6ea506bde, Version=2.0.18.0" 
							securityPackage="ntlm"
							impersonationLevel="identify" 
							authenticationLevel="call" 
						/>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
				</channel>
      </channels>
      <service>
        <wellknown mode="Singleton" type="Server.CustomerManager, Server" objectUri="CustomerManager.rem" />
      </service>
    </application>
  </system.runtime.remoting>
</configuration>