<configuration>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="tcp" />
			</channels>
			<client>
				<wellknown	type="General.IRemoteFactory, General"
									url="tcp://localhost:1234/MyServer.rem" />
			</client>
		</application>
	</system.runtime.remoting>
</configuration>
