<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="http" />
			</channels>
			<service>
				<wellknown	type="ClientWebRemoting.SecondServer, ClientWebRemoting"
									objectUri="SecondServer.rem"
									mode="Singleton" />
			</service>
		</application>
	</system.runtime.remoting>

	<system.web>
		<compilation defaultLanguage="c#" debug="true" />
		<authentication mode="None" />
	</system.web>
</configuration>
