<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.runtime.remoting>
        <application name="MyServer">
            <service>
                <wellknown type="RemotingServer.MyRemoteObject, RemotingServer"
                           objectUri="MyObject.rem"
                           mode="SingleCall" />
            </service>
            <channels>
                <channel ref="ipc" portName="MyIpcChannel" />
            </channels>
        </application>
    </system.runtime.remoting>
</configuration>
