<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="1235">
          <clientProviders>
            <formatter ref="binary" includeVersions="false" />
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" includeVersions="false" />
          </serverProviders>
        </channel>
      </channels>
      <service>
        <wellknown type="IntermedServer.IntermedImpl, IntermedServer" 
                   objectUri="MyIntermed.rem" 
                   mode="Singleton" />
      </service>
      <client>
        <wellknown type="General.IRemoteFactory, General" 
                   url="tcp://localhost:1234/MyServer.rem" />
      </client>
    </application>
  </system.runtime.remoting>
</configuration>