<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application name="FirstServer">
			<channels>
				<channel ref="tcp">
					<clientProviders>
						<formatter ref="binary" includeVersions="false" />
					</clientProviders>
				</channel>
			</channels>
			<client>
				
				<!--
				<wellknown type="General.IRemoteFactory, General"
									 url="tcp://localhost:1234/MyServer.rem" />
				-->
				<wellknown type="General.IRemoteFactory, General"
									 url="tcp://localhost:1235/MyIntermed.rem" /> 

			</client>
		</application>
	</system.runtime.remoting>
</configuration>
