<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="tcp">
					<clientProviders>
						<formatter ref="binary" />
						<provider type="Microsoft.Samples.Runtime.Remoting.Security.SecurityClientChannelSinkProvider, Microsoft.Samples.Runtime.Remoting.Security" 
									securityPackage="negotiate" 
									impersonationLevel="identify"
									authenticationLevel="packetPrivacy" />
					</clientProviders>
				</channel>
			</channels>
			<client>
				<wellknown	type="General.IRemoteFactory, General"
									url="tcp://localhost:1234/MyServer.rem" />
			</client>
		</application>
	</system.runtime.remoting>

	<system.web>
		<compilation defaultLanguage="c#" debug="true" />
		<customErrors mode="RemoteOnly" />
		<authentication mode="Windows" />
		<authorization>
			<allow users="*" />
		</authorization>
		<identity impersonate="true" />
		<sessionState mode="InProc" 
		                stateConnectionString="tcpip=127.0.0.1:42424" 
		                sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
		                cookieless="false" timeout="20" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
	
</configuration>
